* {
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #c5e4e7;
}

.main-container {
  width: 100%;
  display: flex;
   align-items: center;
 justify-content: center;
   flex-direction: column;
}

.header {
  margin: 5rem 0 3.5rem 0;
}

.main-container {
  background-color: white;
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2.5rem;
}

.card .input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card .input .label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0;
}

.card .input .label-wrapper label {
  color: #5e7a7d;
  font-size: 1.5rem;
  font-weight: 700;
}

.card .input .label-wrapper .error-msg {
  color: rgb(28, 161, 39);
  font-weight: 700;
  font-size: 1.5rem;
  opacity: 0;
}

.card .input .label-wrapper .show-error-msg {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.card .input .inp-text {
  background-color: #f4fafa;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  color: #52a112;
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: right;
  padding: 0.5rem 2.4rem;
}

.card .input .inp-text:focus {
  outline: none;
  border: 2px solid #a8b90a;
}

.card .input .input-wrapper {
  position: relative;
}



.card .input .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 1.2rem;
}

.card .input .btn-wrapper .btn {
  width: 46%;
  text-align: center;
  background-color: #b8a818;
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.6rem 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card .input .btn-wrapper .btn:hover {
  background-color: #9fe8df;
}

.card .input .btn-wrapper .btn-active {
  background-color: #26c0ab;
  color: #3016a3;
}

.card .input .btn-wrapper .inp-text {
  width: 46%;
}

.card .output {
  background-color: #a7aa0f;
  width: 100%;
  border-radius: 1.5rem;
  padding: 2.2rem;
}

.card .output .line-wrapper .line-output {
  display: flex;  align-items: center;
 justify-content: space-between;
  margin: 1.4rem 0 2.4rem 0;
}

.card .output .line-wrapper .line-output .title {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
}

.card .output .line-wrapper .line-output .desc {
  color: #7f9c9f;
  font-weight: 700;
  font-size: 1.3rem;
}

.card .output .line-wrapper .line-output .value {
  color: #580a77;
  font-weight: 700;
  font-size: 3rem;
}

.card .output .btn {
  width: 100%;
  background-color: #26c0ab;
  text-transform: uppercase;
  text-align: center;
  color: #4b0772;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1rem 0;
  margin-top: 3.4rem;
}

.card .output .btn:hover {
  background-color: #9fe8df;
}


